<div class="container">
  <div class="list-group">
    <a *ngFor="let problem of problems | search: searchTerm"
      routerLink="/problems/{{problem.id}}"
      class="list-group-item list-group-item-action">
      <span class="{{'badge pull-left label difficulty diff-'+problem.difficulty.toLocaleLowerCase()}}">{{problem.difficulty[0].toUpperCase()+problem.difficulty.slice(1)}}</span>
      <strong>{{problem.id}}. {{problem.name}}</strong>
    </a>
  </div>
</div>

<app-new-problem *ngIf="isAdmin"></app-new-problem>
